In [1]:
import requests
import pandas as pd

In [2]:
with open('../data/token.txt', 'r') as file:
    token = file.read()

In [3]:
# Mutual Fund Symbols
## This call returns an array of mutual fund symbols that IEX Cloud supports for API calls.
iex_request = f'https://sandbox.iexapis.com/stable/ref-data/mutual-funds/symbols?token={token}'

In [4]:
response = requests.get(iex_request).json()

In [5]:
#IEX Symbols
#This call returns an array of symbols the Investors Exchange supports for trading. This list is updated daily as of 7:45 a.m. ET. Symbols may be added or removed by the Investors Exchange after the list was produced.
iex_request = f'https://sandbox.iexapis.com/stable//ref-data/iex/symbols?token={token}'

In [6]:
iex_request = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols=aapl,fb&types=chart&range=1m&token={token}&filter=date,close'

In [7]:
codeList = ["AAPL","VOO"]

In [8]:
def iexHistoricalPriceRequest (codeList,token):
    indexData = pd.DataFrame()
    codeListString = ','.join(codeList)
    iexRequest = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={codeListString}&types=chart&range=max&token={token}&filter=date,close'
    iexResponse = requests.get(iexRequest).json()
    for x in codeList:
        singleCode = pd.DataFrame(iexResponse[x]['chart'])
        singleCode.columns = ['date',x]
        if x == codeList[0]:
            indexData = indexData.append(singleCode)
        else:
            indexData = pd.merge(indexData,singleCode)
    indexData = indexData.sort_values(by='date').reset_index(drop=True)
    return(indexData)

In [9]:
import json
test = json.loads(iexHistoricalPriceRequest(codeList,token).to_json(orient = 'records'))

In [10]:
import json
with open('regressiondata.json', 'w') as f:
    json.dump(test, f)

In [16]:
data = json.load(open('../data/backtestCache.json', 'r'))

In [17]:
pd.DataFrame(data)

            date    AAPL     IBM    MSFT
0     2015-05-26  131.82  173.46   46.66
1     2015-05-27  133.49  176.00   49.53
2     2015-05-28  132.28  178.67   49.71
3     2015-05-29  134.64  170.06   49.17
4     2015-06-01  132.48  173.03   49.41
...          ...     ...     ...     ...
1254  2020-05-18  328.75  127.57  189.65
1255  2020-05-19  325.78  122.34  192.43
1256  2020-05-20  328.90  124.10  187.30
1257  2020-05-21  324.99  123.73  188.04
1258  2020-05-22  324.39  120.62  192.27

[1259 rows x 4 columns]